<div class="container" style="color: black;background-color: #ffffff !important;min-height: 720px;">
    <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12" *ngIf="noresult">
        <h2 class="title">No results found</h2>
    </div>
    <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" *ngIf="!noresult"
        [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown($event)" (scrolledUp)="onUp($event)">
        <div *ngFor="let article of Card.articles">
            <app-article-item [article]="article"></app-article-item>
        </div>
        <div *ngFor="let _ of Card.placeholders">
            <app-article-item-placeholders></app-article-item-placeholders>
        </div>
    </div>
</div>