.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.home-button {
  margin-bottom: 2rem;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}