<div>
  <div class="card">
    <div class="card-header">
      <div class="form-group row">
        <div>
          <h2>{{article.title}}</h2>
        </div>
        <div class="printPageButton" *ngIf="edit_Menu_Visible" style="margin-left: auto;margin-right: 5px;">
          <a onClick="window.print();"><i class="fa fa-print fa-lg" aria-hidden="true"></i></a>
        </div>
        <div class="printPageButton" *ngIf="edit_Menu_Visible" style="margin-left: initial;margin-right: 5px;">
          <a (click)="editArticle(article.slug)">
            <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="printPageButton" *ngIf="edit_Menu_Visible" style="margin-left: initial;margin-right: 5px;color: #00924e;">
          <a (click)="approveArticle(article)" title="Approve">
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="printPageButton" *ngIf="edit_Menu_Visible" style="margin-left: initial;margin-right: 5px;color: #cc0070;">
          <a (click)="rejectArticle(article)" title="Reject">
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="printPageButton" *ngIf="edit_Menu_Visible" style="margin-left: initial;margin-right: 5px;color: #ff0000;">
          <a (click)="deleteArticle(article.slug)" title="Delete">
            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="pdfsection" #pdfsection class="card-body">
      <table class="infobox vevent" style="width:22em">
        <tbody>
          <tr>
            <th class="summary"
              style="text-align:center;font-size:125%;font-weight:bold;font-style: italic; background: #CCCCFF; padding: 0.25em 1em; line-height: 1.5em; line-height: normal;">
              {{article.title}}</th>
          </tr>
          <tr>
            <td style="text-align:center">
              <a class="image">
                <img id="editor" #editor alt="" [src]="article.bannerimg" decoding="async" style="max-width: 250px; max-height: 350px;">
              </a>
            </td>
          </tr>
          <tr *ngFor="let datarow of infocardTable">
            <th *ngIf="datarow.IsHeader" class="summary"
              style="text-align:center;background: #CCCCFF; padding: 0.25em 1em; line-height: 1.5em;">
              {{datarow.TableData}}</th>

            <th *ngIf="!datarow.IsHeader" scope="row">{{datarow.RowHeader}}</th>

            <td *ngIf="!datarow.IsHeader" class="attendee">
              <div *ngIf="datarow.IsList" class="plainlist">
                <ul>
                  <li *ngFor="let lstdata of datarow.ListData">
                    <a *ngIf="lstdata.HasHyperLink" href="articles/{{lstdata.Data}}"
                      title="lstdata.Data">{{lstdata.Data}}</a>
                    <label *ngIf="!lstdata.HasHyperLink">{{lstdata.Data}}</label>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngFor="let section of article.sections">
        <app-section-view [section]="section"></app-section-view>
      </div>
    </div>
    <p *ngIf="article.user">By {{article.user}}</p>
  </div>
</div>