<div>
  <div class="card">
    <div class="card-header">
      <div class="form-group row">
        <div>
          <h2>{{article.title}}</h2>
        </div>
        <div style="margin-left: auto;">
          <a (click)="editArticle(article.slug)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- <div [innerHTML]="article.description"></div> -->

      <table class="infobox vevent" style="width:22em">
        <tbody>
          <tr>
            <th colspan="2" class="summary"
              style="text-align:center;font-size:125%;font-weight:bold;font-style: italic; background: #CCCCFF; padding: 0.25em 1em; line-height: 1.5em; line-height: normal;">
              {{article.title}}</th>
          </tr>
          <tr>
            <td colspan="2" style="text-align:center">
              <a class="image">
                <img alt=""
                [src]="article.bannerimg" decoding="async" style="max-width: 250px; max-height: 350px;">
              </a>
            </td>
          </tr>          
          <tr *ngFor="let datarow of infocardTable">
            <th *ngIf="datarow.IsHeader" colspan="2" class="summary"
              style="text-align:center;background: #CCCCFF; padding: 0.25em 1em; line-height: 1.5em;">
              {{datarow.TableData}}</th>

            <th *ngIf="!datarow.IsHeader" scope="row">{{datarow.RowHeader}}</th>

            <td *ngIf="!datarow.IsHeader" class="attendee">
              <div *ngIf="datarow.IsList" class="plainlist">
                <ul>
                  <li *ngFor="let lstdata of datarow.ListData">
                    <a *ngIf="lstdata.HasHyperLink" href="articles/{{lstdata.Data}}"
                      title="lstdata.Data">{{lstdata.Data}}</a>
                    <label *ngIf="!lstdata.HasHyperLink">{{lstdata.Data}}</label>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngFor="let section of article.sections">
        <app-section-view [section]="section"></app-section-view>
      </div>
    </div>
    <p *ngIf="article.user">By {{article.user}}</p>
  </div>
</div>