<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne" style="background-color: #CCCCFF;">
            <div class="row">
                <div class="col-md-8">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        (click)="accordionHideShow()">
                        <i class="{{accordIcon}}"></i><label
                            style="padding-left: 15px;">{{section.title}}</label></button>
                </div>
                <div class="col-md-2 offset-md-2">
                    <a (click)="removeObject()" style="float: right;" class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="{{collapseClass}}" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="card">                
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="label col-sm-2 col-form-label" for="input-name">
                                <h5>Section Title</h5>
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" [(ngModel)]="section.title" #title="ngModel" id="input-name"
                                    name="title" placeholder="Section Title" autofocus fullWidth fieldSize="large"
                                    [required]="true" [minlength]="3" [maxlength]="50"
                                    [attr.aria-invalid]="title.invalid && title.touched ? true : null">
                                <ng-container *ngIf="title.invalid && title.touched">
                                    <p class="text-danger" *ngIf="title.errors?.required">
                                        Title is required!
                                    </p>
                                    <p class="text-danger" *ngIf="title.errors?.minlength || title.errors?.maxlength">
                                        Title should be at least of 10.
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="label col-sm-2 col-form-label" for="input-description">
                                <h5>Content</h5>
                            </label>
                            <div class="col-sm-9">
                                <div name="description" [(ngModel)]="section.description" #description="ngModel"
                                    [required]="true" [ngxSummernote]="descriptionNoteconfig">
                                </div>
                                <ng-container *ngIf="description.invalid && description.touched">
                                    <p class="text-danger" *ngIf="description.errors?.required">
                                        Content is required!
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>