<div>
    <div class="form-group row">
        
        <div class="col-md-12">
            <label class="label col-sm-2 col-form-label" for="input-sectitle">
                <h5>Title</h5>
            </label>
            <input class="form-control" [(ngModel)]="section.title" #sectitle="ngModel" id="input-sectitle" name="sectitle"
                placeholder="Section Title" autofocus fullWidth fieldSize="large" [required]="true" [minlength]="3"
                [maxlength]="50" [attr.aria-invalid]="sectitle.invalid && sectitle.touched ? true : null">
            <ng-container *ngIf="sectitle.invalid && sectitle.touched">
                <p class="text-danger" *ngIf="sectitle.errors?.required">
                    Title is required!
                </p>
                <p class="text-danger" *ngIf="sectitle.errors?.minlength || sectitle.errors?.maxlength">
                    Title should be at least of 10.
                </p>
            </ng-container>
        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-12">
            <label class="label col-sm-2 col-form-label" for="input-description">
                <h5>Content</h5>
            </label>
            <div name="description" [(ngModel)]="section.description" #description="ngModel" [required]="true" style="min-height: 300px;"
                [ngxSummernote]="descriptionNoteconfig">
            </div>
            <ng-container *ngIf="description.invalid && description.touched">
                <p class="text-danger" *ngIf="description.errors?.required">
                    Content is required!
                </p>
            </ng-container>
        </div>
    </div>
</div>