@import '~@ng-select/ng-select/themes/default.theme.css';

.imgcontainer {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .imgcontainer img {
    width: 500px; 
    height: 500px;
    min-width: 500px;
    min-height: 500px;
    border-width: 2px;   
    border-color: gray;   
    border-style: solid;
  }
  
  .imgcontainer .btn {
    position: absolute;
    top: -3%;
    left: 100%;
    transform: translate(-30%, -10%);
    -ms-transform: translate(-30%, -10%);
    
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;

    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
.bd-div {
    
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 15px;
    border: solid lightgray;
    border-width: .2rem;
}

.ng-select {
  line-height: 1.5;
}

.ng-dropdown-panel {
  border-radius: 4px;

}

.ng-select-bottom.ng-select-top {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14),
      0 1px 10px 0 rgba(0, 0, 0, .12);
  }

  .sortable-list-item {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
  }

  .sortable-list {
    background-color: #CCCCFF;
  }

  .sortable-header{
    display: none;
  }
